# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/local-mcp-demo.iml
/misc.xml
/modules.xml
/profiles_settings.xml
/Project_Default.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
